<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Licence plates</title>
</head>
<body>
<p></p>
<a th:href="@{/search}" th:text="'Home'" />
<p></p>
<form th:action="@{/search}" th:object="${q}" method="get">
    <input type="search" name="search" placeholder="ABC-123"/>
    <button type="submit" value="Submit">Search</button>
</form>
<p></p>
<a th:href="@{/search/?police=1}" th:text="'Police cars only'" />
<a th:href="@{/search/?diplomat=1}" th:text="'Diplomats only'" />

<p></p>
<table>
<h1>Licence plates</h1>
<tr>
    <th>Plate</th>
    <th>Car Brand</th>
    <th>Car model</th>
    <th>Color</th>
    <th>Year</th>
</tr>
<tr th:each="plate:${plates}">
    <td th:text="${plate.plate}"></td>
    <!--<td th:text="${plate.carBrand}"></td>-->
    <td><a th:href="@{/search/{brand}(brand=${plate.carBrand})}" th:text="${plate.carBrand}"></a></td>
    <td th:text="${plate.car_model}"></td>
    <td th:text="${plate.color}"></td>
    <td th:text="${plate.year}"></td>
</tr>
</table>
</body>
</html>